@page
@using Shopa.Data
@using Shopa.Web.Services
@using Shopa.Web.Services.Contracts
@model Shopa.Data.Models.Product
@inject IHomeService HomeService
@{
    //ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div >
        <h3>Products List</h3>
        <table class="table-bordered col-lg-12">
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            @foreach (var product in HomeService.GetAllProducts().ToList())
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Category</td>
                    <td><img src="/@product.PictureLocalPath" width="60" alt="pic" /></td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                </tr>
            }
        </table>
        <br/>
    </div>
    <hr/>
    <br />
    <p>
        <a class="text-left" asp-controller="Home" asp-action="Index">Back to List</a>
    </p>
</div>

