/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 22px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".jpg"] {
    width: 100%;
    max-width: 450px;
    min-width: 200px;
    min-height: 200px;
    max-height: 450px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) and (min-width:200px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 120px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            /*color: #f1f1f1;*/
            color: ActiveBorder;
        }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 1px 10px;
}

.button {
    background-color: white;
    /*border: 5px solid #4CAF50; solid border*/
    border: 2px ButtonHighlight;
    color: red;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 7px;
    -webkit-transition-duration: 0.8s; /* Safari */
}



    .button:hover {
        background-color: red; /* Green */
        color: ButtonHighlight;
        font-size: 13px;
        padding: 3.5px 12.5px;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

.button1 {
    background-color: black;
    border: 2px ButtonHighlight; /* Green */
    color: red;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 7px;
    -webkit-transition-duration: 0.8s; /* Safari */
}

    .button1:hover {
        background-color: red; /* Green */
        color: ButtonHighlight;
        font-size: 13px;
        padding: 3.5px 12.5px;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }


.button2 {
    background-color: black;
    border: 2px ButtonHighlight; /* Green */
    color:lightblue;
    padding: 3px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 7px;
    -webkit-transition-duration: 0.8s; /* Safari */
}

    .button2:hover {
        background-color: black; /* Green */
        color: ButtonHighlight;
        font-size: 13px;
        padding: 1.5px 6.5px;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
/*.button1 {
    background-color: black;
    border: 5px solid #4CAF50; 
    color: dimgrey;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 12px;
    -webkit-transition-duration: 0.8s; 
}*/

/*DROPDOWN TEST*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 1px 8px 16px 1px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*DROPDOWN TEST*/
